<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/addstyle.css" />
</head>


<body style="background-color: #E7EEF0;">
    <div>
        <h2 class="mt-2">Course Evaluation</h2>
    </div>

    <table class="center">
        <tr>

            <td><a href="/signup">Sign Up as Student</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/signin">Sign In as Student</a>
            </td>
        </tr>
        
        <tr>
            <td>
                <a href="/students" >Display All Students</a>
            </td>
        </tr>
        
        <tr>
            <td>
                <a href="/comments">Display Comments by Student</a>

            </td>
        </tr>
       <!-- <tr>
            <td><a href="/user_posts">Display posts by user</a></td>
        </tr>-->
    </table>

</body>

</html>
