<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body style="background-color: #E7EEF0;">
    <div class="container mt-3" style="width: 620px;">
        <div class="media">
            <img src="img/logo1.jpg" alt="logo" class="align-self-start mr-3" style="width:120px;">
            
        </div>
  <form class="container mt-4" id="comments" action="/students/<%= student.id %>?_method=POST" method="POST">    
             <h1>Hello <%= student.firstName %></h1>
             <div class="media-body">
                <h2 class="mt-2">Complete Course Evaluation</h2>
            </div>
            <div class="container">
                 </div>
			<div class="form-group">
                <label for="courseCode" class="mr-sm-2" style="font-weight: bold;" required>Course Code:</label>
                <input type="text" class="form-control mb-2 mr-sm-2" name="courseCode">
            </div>
            <div class="form-group">
                <label for="courseName" class="mr-sm-2" style="font-weight: bold;" required>Course Name:</label>
                <input type="text" class="form-control mb-2 mr-sm-2" name="courseName">
            </div>
            <div class="form-group">
                <label for="program" class="mr-sm-2" style="font-weight: bold;" required>Program:</label>
                <input type="text" class="form-control mb-2 mr-sm-2" name="program">
            </div>
            <div class="form-group">
                <label for="semester" class="mr-sm-2" style="font-weight: bold;" required>Semester:</label>
                <input type="text" class="form-control mb-2 mr-sm-2" name="semester">
            </div>
            <div class="form-group">
                <label for="comment" class="mr-sm-2" style="font-weight: bold;" required>Assessment feedback:</label>
                <textarea class="form-control mb-2 mr-sm-2" name="comment"></textarea>
            </div>
                <button type="submit" class="btn btn-info" style="font-weight: bold; width:100%;">Submit Evaluation</button>
            </form>   
        </div>
        <div class="container">
	<a href="http://localhost:3000"> Main Page</a>
	</div>
</body>
</html>
